page-signup {
    .background{
        background: linear-gradient(rgba(95, 9, 117, 0.671),rgba(6, 104, 117, 0.726))
    }
    .scroll-content {
        align-content: center;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ion-card.card {
        box-shadow: none;
        background: rgba(26, 8, 49, 0.5);
        border-radius: 5px;
        position: relative;
    }
    a, p,
    ion-card-header.card-header {
        color: #fff!important;
    }
    
    .list > .item-block:first-child {
        border: medium none;
    }
    
    .item {
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;
    
        .text-input, {
            color: #fff;
        }
    
        
        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder {
            color: #fff!important;
        }
        *:-moz-placeholder{
            color: #fff!important;
        }
        *:-ms-input-placeholder{
            color: #fff!important;
        }
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
    
    }
    
    .icon {
        padding-right: 10px;
    }
    
    .bottom {
        bottom: 0;
    }
    
    .input-cover {
    position: static;
    }
}
